In [2]:
import os
os.getcwd()

'C:\\Users\\Rutuja'

In [3]:
a = 1
b = 2
c = 3
c = a + b
print(c)
print(a)
print(b)

3
1
2

In [4]:
# Printing the answer with  a statement

print("Addition of two nos is" , c)

Addition of two nos is 3

In [7]:
print("Addition of a =" ,a, " b =" ,b," c = " ,c)

Addition of a = 1  b = 2  c =  3

In [10]:
# type ...type of element er are storing that is ,it returns the datatype

a=34
type(a)

int

In [11]:
b = "Hello Everyone!"
type(b)

str

In [12]:
a = 6+19j
type(a)

complex

In [13]:
type(3.8)

float

In [14]:
# Variable names

c_8=57
print(c_8)

57

In [23]:
# Slicing of String

s1 = "Hello Rutuja"         #str1
s2 = "Hello Everyone!"      #str2

print(s1[0:4])           #positive slicing  
print(s2[6:9])
print(s1[-2])            #negative slicing
print(s2[-8:-2])

Hell
Eve
j
veryon

In [26]:
# operators
#[PEMDAS rule]

2+7-5

4

In [27]:
7/8*3

2.625

In [28]:
5**5          # raise to

3125

In [29]:
8+6**2-9      #firstly multiplication and the addition follwed by subtraction

35

In [31]:
(1+5)**9-3     # priority is given to parenthesis first so,6**9-3

10077693

In [32]:
6+77/3**(2-1)   # parenthesis will execute first the exponontial and then div followed by addn and then subn

31.666666666666668

In [33]:
# Concatenation

'6'+'8'

'68'

In [34]:
# Repitition

"Rutuja"*3

'RutujaRutujaRutuja'

In [36]:
# Type casting

int('7784')

66

In [37]:
int(55.6)

55

In [38]:
float(6)

6.0

In [39]:
list('Rutuja')          #[] for list-  tuple to list

['R', 'u', 't', 'u', 'j', 'a']

In [40]:
tuple([3,5,7,1,8,4,0])  #() for tuple-  list to tuple

(3, 5, 7, 1, 8, 4, 0)

In [41]:
list((3,5,11,7,90,3))

[3, 5, 11, 7, 90, 3]

In [44]:
# updating the list

list=[2,5,7,9,3]
print(list[3])
list[3]=1
print(list)

9
[2, 5, 7, 1, 3]