In [ ]:
# List

my_list=[23 , 60 , 11 ,20]

#mixed datatype

my_list1=[ 3 , 45 , "r" , 80 ,[12  ,10 , 1 ] ]

#access using index
print(my_list1[2])

In [2]:
print(my_list1[4][2])

1

In [3]:
# EXTEND

my_list1.append(8)
print(my_list1)

[3, 45, 'r', 80, [12, 10, 1], 8]

In [4]:
# DELETE

del my_list1[3]
print(my_list1)

[3, 45, 'r', [12, 10, 1], 8]

In [5]:
# REMOVE

my_lst=[45 , 1 , 98, "happy" ,[1 , 67 ]]
my_lst.remove(98)
print(my_lst)

[45, 1, 'happy', [1, 67]]

In [7]:
# POP

print(my_lst.pop(1))

1

In [10]:
#INDEX

my_list2 = [3, 8, 1, 6, 0, 8, 4]
print(my_list2.index(4))

6

In [12]:
# COUNT //counts no of same element in the list

my_l = [2 , 56 , 1 , 2 , 2 , 90]
print(my_l.count(2))

3

In [13]:
# SORT  //sorts the list in ascending order by default

list1 = [89 , 23 , 1 , 90 , 99 , 4]
list1.sort()
print(list1)

[1, 4, 23, 89, 90, 99]

In [15]:
# REVERSE //sorts the list in descending order

list1.reverse()
print(list1)

[99, 90, 89, 23, 4, 1]

In [16]:
# SLICING

print(list1[2:5])

[89, 23, 4]

In [18]:
# NEGATIVE SLICING

print(list1[:-5])

[99]

In [20]:
# CLEAR

list1.clear()
print(lis)

[]

# DICTIONARY

In [21]:
my_dict = {}

my_dict = {1: 'apple', 2: 'mango'}

my_dict = {'name': 'Rutuja', 1: [2, 4, 3]}

print(my_dict['name'])

Rutuja

In [22]:
print(my_dict.get('name'))

Rutuja

In [23]:
my_dict['name'] = 'Ananya'

In [24]:
# UPDATE

print(my_dict)

{'name': 'Ananya', 1: [2, 4, 3]}

In [28]:
# POP

no_sqrs = {1:1, 2:4, 3:9, 4:16, 5:25}  
print(no_sqrs.pop(4))

16

In [29]:
print(no_sqrs)

{1: 1, 2: 4, 3: 9, 5: 25}

In [30]:
# POP ITEM 

print(no_sqrs.popitem())

(5, 25)

In [33]:
# DELETE

del no_sqrs[3]
print(no_sqrs)

{1: 1, 2: 4}

In [34]:
# FROMKEYS

marks = {}.fromkeys(['Math','English','Science'], 0)
print(marks)

{'Math': 0, 'English': 0, 'Science': 0}

In [35]:
#copy

Boys = {'Ram': 18,'Vinay':10,'Rohit':25}
student=Boys.copy()
print(student)

{'Ram': 18, 'Vinay': 10, 'Rohit': 25}

In [36]:
#UPDATE

Boys.update({"Sara":9})
print(Boys)

{'Ram': 18, 'Vinay': 10, 'Rohit': 25, 'Sara': 9}

#  SET

In [37]:
my_set = {1, 2, 3 , 5 , 8 , 3}
print(my_set)


my_set = {1.0, 20 , "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3, 5, 8}
{1.0, 20, 'Hello', (1, 2, 3)}

In [38]:
# ADD

my_set.add(99)
print(my_set)

{1.0, 99, (1, 2, 3), 'Hello', 20}

In [39]:
# UPDATE

my_set.update([22,3,44])
print(my_set)

{1.0, 99, 3, 44, (1, 2, 3), 'Hello', 20, 22}

In [40]:
# DISCARD

my_set.discard(44)
print(my_set)

{1.0, 99, 3, (1, 2, 3), 'Hello', 20, 22}

In [42]:
# REMOVE

my_set.remove(22)
print(my_set)

{1.0, 99, 3, (1, 2, 3), 'Hello', 20}

In [43]:
my_set = set("HelloWorld")
print(my_set)

{'W', 'r', 'l', 'o', 'e', 'd', 'H'}

In [44]:
# POP 

print(my_set.pop())

W

In [53]:
# UNION

A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8 , 9}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [54]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
# INTERSECTION

A.intersection(B)

{4, 5}

In [56]:
 B.intersection(A)

{4, 5}

In [57]:
# DIFFERENCE

A.difference(B)

{1, 2, 3}

In [58]:
 B - A

{6, 7, 8, 9}

In [59]:
B.difference(A)

{6, 7, 8, 9}

In [60]:
# ASYMMETRIC DIFFERNCE

A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8, 9}

In [61]:
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8, 9}

In [64]:
# CLEAR 
    
my_set.clear()
print(my_set)

set()